	#wrapper {
	width: 960px;
	height: auto;
	background-color:#000;
	/*background:url(/images/background.jpg) repeat-y 0 0 scroll;*/
	margin-left: auto;
	margin-right: auto;
	}	
	#header {
	width: 960px;
	height: 100px;
	background-color: #000;
	margin-left: auto;
	margin-right: auto;
	}
	#content {
	width: 960px;
	height: auto;
	background-color: #000;
	/*background: url(images/background.jpg) repeat-y 0 0 scroll;*/
	}
	div.div-inline{ display:inline}
	
        div.store-cart {
          font-size:18px;
          font-family:\5FAE\8EDF\6B63\9ED1\9AD4,Microsoft JhengHei,MingLiU,sans-serif;  
        }
        
	div.conten-prodlist{ 
            position:relative;
            width:960px;height:400px; 
            border:1px solid #000} 
/* 定义父级position:relative 为就认为是绝对定位声明吧 */ 
	div.prodclist-photo{
	position: absolute;
	width: 270px;
	height: 270px;
	left: 10px;
	top: 30px;
	background:#000} 
/* 使用绝对定位position:absolute样式 并且使用left top进行定位位置 */ 
	div.productlist-name{ 
            position:absolute;
            width:200px;height:50px; 
            left:300px;top:30px;
            background:#000;
            font-size:18px;
            font-family:\5FAE\8EDF\6B63\9ED1\9AD4,Microsoft JhengHei,MingLiU,sans-serif;
        } 
 
	div.productlist-decs{ 
            position:absolute;
            width:500px;height:150px; 
            left:300px;top:100px;
            background: #000;
            font-size:18px;
            font-family:\5FAE\8EDF\6B63\9ED1\9AD4,Microsoft JhengHei,MingLiU,sans-serif;}

	div.productlist-id{ 
            position:absolute;
            width:70px;height:150px; 
            right:30px;bottom:30px;
            background: #000;
            font-size:100px;
            text-align:center;
            font-family:\5FAE\8EDF\6B63\9ED1\9AD4,Microsoft JhengHei,MingLiU,sans-serif;}

	div.cart-btnList{ 
            position:absolute;
            width:300px;height:50px; 
            left:300px;top:260px;
            background: #000}
        
        div.productlist-unitPrice{ 
            position:absolute;
            width:100px;height:50px; 
            left:600px;bottom:80px;
            background: #000;
            font-size:28px;
            font-family:\5FAE\8EDF\6B63\9ED1\9AD4,Microsoft JhengHei,MingLiU,sans-serif;
            }	
	
	hr { width:100%; height:1px; background: #000 }
	
	td.textcolor 
	{
	color: rgb(255,255,255);
	font-size: 18px;
    }
	p.textcolor 
	{
	color: rgb(255,255,255);
	font-size: 18px;
    }
			
	div.textcolor 
	{
	color:#fff;
    }
